<ion-view view-title="{{alimento.descricao}}" ng-controller="AlimentosCtrl">
  <ion-content class="padding">
    <p>
      <h1>{{alimento.descricao}}<h1>
    </p>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="medida in alimento.medidas" type="item-text-wrap">
        <h2>{{medida.descricao}}</h2>
        <i class="icon ion-arrow-down-b icon-accessory" ng-click="medida.showMedicoes = !medida.showMedicoes"></i>
        
        <ul ng-show="medida.showMedicoes">
          <li  ng-repeat="medicao in medida.medicoes" type="item-text-wrap">
              {{medicao.valor}}g - {{medicao.fonte}}
          </li>
        </ul>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>