<ion-view view-title="Medidaz">
  <ion-content class="padding">
    <h2>Bem vindo ao Medidaz</h2>
    <p>
    O objetivo do medidaz e manter uma base colaborativa de medidas caseiras.
    </p>
    <p>
      O medidaz conta hoje com:
      {{quantidade_alimentos}} alimentos cadastrados! <br>
      Obtidos através da consulta em  {{quantidade_fontes}} fontes! <br>
      São no total {{quantidade_medicoes}} medições utilizando {{quantidade_medidas}} diferentes.<br>
    </p>
  </ion-content>
</ion-view>
