<ion-view view-title="Medidaz">
  <ion-content class="padding">
    <h2>Bem vindo ao Medidaz</h2>
    
<p>    O app Medidaz oferece consultas a medidas caseiras de alimentos brasileiros, a partir de diversas referências bibliográficas.</p>

<p>Neste momento, estão cadastrados {{quantidade_alimentos}} alimentos em nosso banco de dados.</p>

<p>Utilize o menu Consulta, para pesquisar seus alimentos e medidas caseiras.</p>

<p>Se o alimento ou medida caseira que você pesquisou não está disponível, nos envie um pedido de cadastro pelo menu Sugestões.</p>

<p>Este app é o resultado de um trabalho de conclusão de curso de graduação.</p>

<p>Nesta primeira versão, foram cadastrados alimentos e medidas caseiras, do Guia Alimentar Brasileiro, de livros, artigos científicos e também valores aferidos no Laboratório de Técnica Dietética do Centro Universitário Estácio do Ceará.</p>

<p>Esperamos continuar cadastrando novos alimentos e medidas caseiras, para que este app seja útil para estudantes, profissionais e pesquisadores.</p>

<p>Caso queira enviar sugestões de melhoria, críticas construtivas ou colaborar no desenvolvimento, entre em contato por e-mail. Obrigada!</p>

<p>Sarah Gerhard - sarahgerhard@gmail.com</p>
    
  </ion-content>
</ion-view>
