<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Medidaz" icon-off="ion-beaker" icon-on="ion-beaker" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Consulta" icon-off="ion-search" icon-on="ion-search" href="#/tab/consulta">
    <ion-nav-view name="tab-consulta"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Sugestões" icon-off="ion-chatbubbles" icon-on="ion-chatbubbles" href="#/tab/sugestao">
    <ion-nav-view name="tab-sugestao"></ion-nav-view>
  </ion-tab>

</ion-tabs>
